ORDO_PROGRAM_ID=3kcDAfBY5Q5cKJMwWKX3DRqGg3JwQ7Tntkh8faYF5yA5
PYTH_ENDPOINT=https://hermes.pyth.network

ORDO_GLOBAL_CONFIG=
ORDO_MINT=
ORDO_INPUT_MINT=
ORDO_OUTPUT_MINT=
ORDO_ORDER=
ORDO_ALLOWED_TAKER=
ORDO_FEED_ID=

ORDO_INPUT_AMOUNT=1000000000
ORDO_OUTPUT_AMOUNT=1000000000
ORDO_TP_OUTPUT_AMOUNT=0
ORDO_SL_OUTPUT_AMOUNT=0
